.header {
 display: flex;
 justify-content: space-between;
 border: 1px solid black;
}
.logo{
  width:200px;
}

.nav-items {
  padding: 0px,20px;
}
.nav-items > ul{
  font-size: 24px;
  display:flex;
  list-style-type: none;

}
.nav-items > ul > li {
 padding: 10px;
 margin: 10px;

}
.res-card{
  padding-top: 10px;
  margin: 5px;
  padding:8px;
  width: 200px;
  height: 350px;
  box-sizing: border-box;
  

 
  background-color: #fff0d5;;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.search{
   padding-top: 20px;

   

   
}
.res-logo{
  padding: 0px;
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;

}
.res-card h3 {
  font-size: 18px;
  margin: 8px 0 5px;
  line-height: 1.2;
}
.res-card h4 {
  font-size: 18px;
  margin: 5px 0;
  line-height: 1.2;
}


.res-container{
  display: flex;
  flex-wrap: wrap;

}
.shimer-container{
  display: flex;
  flex-wrap: wrap;
  
}

.shimmer-cards{
  margin: 5px;
  width: 200px;
  height: 350px;
  background-color: gray;
}
.login{
  padding: 0 20px;
  cursor: pointer;
  margin-right: 20px;
}
.search.box{
  padding-top: 20px;
}
.filter{
  display: flex;
  
}
.filter-btn{
  display: flex;
  margin: 10px;
  
}